#breadcrumb-container {
    padding: 0.25rem 1rem 0.25rem 1rem;
    color: #720026; /* burgundy */
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.breadcrumb-text {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.breadcrumb-underline {
    border: none;
    border-bottom: 1px solid #720026;
    margin: 0;
    width: 100%;
}
