<div class="d-flex flex-column gap-3">
    <button id="price-history-button" class="btn btn-warning text-dark fs-5" onclick="location.href='/price_history'">Price History</button>
    <button id="state-analysis-button" class="btn btn-warning text-dark fs-5" onclick="location.href='/state_analysis'">State Analysis</button>
    <button id="date-analysis-button" class="btn btn-warning text-dark fs-5" onclick="location.href='/date_analysis'">Date Analysis</button>
    <button id="price-analysis-button" class="btn btn-warning text-dark fs-5" onclick="location.href='/price_analysis'">Price Analysis</button>
    <button id="indicator-analysis-button" class="btn btn-warning text-dark fs-5" onclick="location.href='/indicator_analysis'">Indicator Analysis</button>
    <button id="comparative-results-button" class="btn btn-warning text-dark fs-5" onclick="location.href='/comparative_results'">Comparative Results</button>
    <button id="custom-analysis-button" class="btn btn-warning text-dark fs-5" onclick="location.href='/custom_analysis'">Custom Analysis</button>
    <button id="trading-signals-button" class="btn btn-warning text-dark fs-5" onclick="location.href='/trading_signals'">Trading Signals Backtesting</button>
    <button id="optimization-results-button" class="btn btn-warning text-dark fs-5" onclick="location.href='/optimization_results'">Optimization Results</button>
    <button id="model-analysis-button" class="btn btn-warning text-dark fs-5" onclick="location.href='/model_analysis'">Model Analysis</button>
    <button id="trend-analysis-button" class="btn btn-warning text-dark fs-5" onclick="location.href='/trend_analysis'">Trend Analysis</button>
</div>
